.management-container {
  padding-top: 40px;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;

  h1 {
    color: var(--primary-color);
  }
  
  .btn i {
    margin-right: 8px;
  }
}

.table {
  th {
    color: var(--text-light-color);
  }
  .form-check-input:checked {
    background-color: var(--success-color);
    border-color: var(--success-color);
  }
}

.page-navigation {
  margin-bottom: 25px; // Espacio entre el enlace y el título
}

.back-link {
  display: inline-flex; // Para alinear el icono y el texto
  align-items: center;
  gap: 8px; // Espacio entre el icono y el texto
  
  color: var(--text-light-color);
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s ease;

  &:hover {
    color: var(--primary-color);
    text-decoration: underline;
  }

  i {
    font-size: 1.2em; // Hacer el icono un poco más grande
  }
}